@import url(http://fonts.googleapis.com/css?family=Megrim|Roboto:400,100);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

p {
  font-family: 'Roboto', sans-serif; }

header {
  height: 650px;
  background-image: url(http://i.imgur.com/J8VW1Mj.jpg?3);
  background-position: 50% 40%;
  opacity: .65; }
  @media screen and (max-width: 540px) {
    header {
      background-image: url(http://i.imgur.com/weXpw4S.jpg?2);
      height: 450px; } }

.logo {
  width: 150px;
  position: f;
  position: fixed;
  z-index: 10;
  top: 0; }
  @media screen and (max-width: 800px) {
    .logo {
      display: none; } }

.headerText {
  position: relative;
  bottom: 615px; }
  @media screen and (max-width: 540px) {
    .headerText {
      bottom: 400px; } }

h1 {
  font-family: 'Megrim', cursive;
  margin: 0;
  text-align: center;
  font-size: 5.4em;
  color: #FF6B6B;
  padding-top: 35px; }
  @media screen and (max-width: 540px) {
    h1 {
      font-size: 3em; } }

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-align: center;
  color: #4ECDC4;
  margin: 8px; }
  @media screen and (max-width: 540px) {
    h2 {
      font-size: 1em; } }

nav {
  height: 200px;
  text-align: center;
  position: relative;
  bottom: 185px;
  background-color: #546576; }
  @media screen and (max-width: 540px) {
    nav {
      height: 150px; } }
  nav .navIconContainer {
    display: inline-block; }
    nav .navIconContainer p {
      font-family: 'Roboto', sans-serif;
      font-size: 1.5em;
      font-weight: lighter;
      margin: 0;
      color: #bdc3c7; }
      @media screen and (max-width: 980px) {
        nav .navIconContainer p {
          font-size: 1em; } }
  nav .imgContainer {
    border: solid black 4px;
    border-radius: 50%;
    padding: 20px;
    display: inline-block;
    margin: 25px 100px 0 100px; }
    @media screen and (max-width: 980px) {
      nav .imgContainer {
        margin: 25px 30px 0 30px; } }
    @media screen and (max-width: 540px) {
      nav .imgContainer {
        border: none;
        padding: none;
        margin: 0; } }
    nav .imgContainer img {
      width: 100%;
      height: 100%; }
      nav .imgContainer img:hover {
        transform: scale(1.2); }

#lineBreak {
  width: 500px;
  height: 4px;
  background-color: #bdc3c7;
  margin: -100px auto 0 auto;
  opacity: .5; }
  @media screen and (max-width: 540px) {
    #lineBreak {
      width: 200px; } }

h3 {
  font-size: 3em;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

#wrapper {
  padding: 20px;
  float: left;
  width: 33%; }
  @media screen and (max-width: 980px) {
    #wrapper {
      width: 100%;
      padding: 125px; } }
  @media screen and (max-width: 540px) {
    #wrapper {
      width: 100%;
      padding: 50px; } }
  #wrapper img {
    width: 100%;
    opacity: .85; }
    #wrapper img:hover {
      opacity: 1; }

#firstRow {
  width: 100%;
  height: 500px; }
  @media screen and (min-width: 1500px) {
    #firstRow {
      height: 700px; } }

#secondRow {
  width: 100%;
  height: 500px; }
  @media screen and (min-width: 1500px) {
    #secondRow {
      height: 700px; } }

.portfolioPiece p {
  font-weight: lighter; }
.portfolioPiece a {
  text-decoration: none;
  color: #FF6B6B; }
  .portfolioPiece a:hover {
    text-decoration: underline; }

#lineBreak2 {
  width: 500px;
  height: 4px;
  background-color: #bdc3c7;
  opacity: .5;
  clear: both;
  margin: 0 auto; }
  @media screen and (max-width: 540px) {
    #lineBreak2 {
      width: 200px; } }

.aboutContainer {
  text-align: center; }
  .aboutContainer p {
    margin: 50px auto;
    width: 60%;
    font-size: 1.5em;
    font-weight: lighter; }
    @media screen and (max-width: 540px) {
      .aboutContainer p {
        font-size: 1em; } }
  .aboutContainer .photo {
    float: middle;
    width: 150px;
    border-radius: 50%; }

.icon {
  width: 65px;
  margin: 50px; }
  .icon:hover {
    transform: scale(1.2); }
  @media screen and (max-width: 540px) {
    .icon {
      width: 50px;
      margin: 10px; } }

@media screen and (max-width: 800px) {
  #hiddenMobile {
    display: none; } }
