@import url(http://fonts.googleapis.com/css?family=Megrim|Roboto:400,100);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

p {
  font-family: 'Roboto', sans-serif;
  color: #686868; }

header {
  height: 100vh;
  background-image: url(http://i.imgur.com/YpuR4YV.jpg);
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 55px; }
  @media screen and (max-width: 1024px) {
    header {
      background-image: url(http://i.imgur.com/49zZzgv.jpg?2);
      height: 500px; } }

.socialLinks {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }
  .socialLinks a {
    margin-left: 10px;
    transition: all 0.5s ease;
    text-decoration: none; }
    .socialLinks a:hover {
      border-bottom: 2px solid #F5D76E;
      padding-bottom: 8px; }
  .socialLinks img {
    width: 30px; }

.logo {
  width: 250px;
  z-index: 10;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s; }
  @media screen and (max-width: 1024px) {
    .logo {
      display: none; } }

.headerText {
  position: relative;
  bottom: 615px;
  visibility: hidden; }
  @media screen and (max-width: 540px) {
    .headerText {
      bottom: 400px; } }

h1 {
  font-family: 'Megrim', cursive;
  margin: 0;
  text-align: center;
  font-size: 5.4em;
  color: #FF6B6B;
  padding-top: 35px; }
  @media screen and (max-width: 540px) {
    h1 {
      font-size: 3em; } }

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-align: center;
  color: #4ECDC4;
  margin: 8px; }
  @media screen and (max-width: 540px) {
    h2 {
      font-size: 1em; } }

nav {
  height: 200px;
  text-align: center;
  position: relative;
  bottom: 185px;
  background-color: #546576; }
  @media screen and (max-width: 540px) {
    nav {
      height: 150px; } }
  nav .navIconContainer {
    display: inline-block; }
    nav .navIconContainer p {
      font-family: 'Roboto', sans-serif;
      font-size: 1.5em;
      font-weight: lighter;
      margin: 0;
      color: #bdc3c7; }
      @media screen and (max-width: 980px) {
        nav .navIconContainer p {
          font-size: 1em; } }
  nav .imgContainer {
    border: solid black 4px;
    border-radius: 50%;
    padding: 20px;
    display: inline-block;
    margin: 25px 100px 0 100px; }
    @media screen and (max-width: 980px) {
      nav .imgContainer {
        margin: 25px 30px 0 30px; } }
    @media screen and (max-width: 540px) {
      nav .imgContainer {
        border: none;
        padding: none;
        margin: 0; } }
    nav .imgContainer img {
      width: 100%;
      height: 100%; }
      nav .imgContainer img:hover {
        transform: scale(1.2); }

#lineBreak {
  width: 500px;
  height: 4px;
  background-color: #bdc3c7;
  margin: 0 auto;
  opacity: .5; }
  @media screen and (max-width: 540px) {
    #lineBreak {
      width: 200px; } }

h3 {
  font-size: 3em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #252525; }

#wrapper {
  padding: 20px;
  float: left;
  width: 33%; }
  @media screen and (max-width: 980px) {
    #wrapper {
      width: 100%;
      padding: 125px; } }
  @media screen and (max-width: 540px) {
    #wrapper {
      width: 100%;
      padding: 50px; } }
  #wrapper img {
    width: 100%;
    opacity: .85;
    border-radius: 3px; }

#row {
  width: 100%;
  height: 500px;
  overflow: visible; }
  @media screen and (min-width: 981px) {
    #row {
      overflow: hidden; } }
  @media screen and (min-width: 1500px) {
    #row {
      height: 700px; } }

.portfolioPiece a {
  text-decoration: none;
  color: #4B79BC; }
  .portfolioPiece a:hover {
    text-decoration: underline; }
  .portfolioPiece a img {
    border: solid grey 1px; }

#lineBreak2 {
  width: 500px;
  height: 4px;
  background-color: #bdc3c7;
  opacity: .5;
  clear: both;
  margin: 0 auto; }
  @media screen and (max-width: 540px) {
    #lineBreak2 {
      width: 200px; } }

.aboutContainer {
  text-align: center; }
  .aboutContainer p {
    margin: 50px auto;
    width: 60%;
    font-size: 1.5em;
    color: #383838; }
    .aboutContainer p a {
      text-decoration: none;
      color: #4B79BC; }
      .aboutContainer p a:hover {
        text-decoration: underline; }
    @media screen and (max-width: 540px) {
      .aboutContainer p {
        font-size: 1em; } }
  .aboutContainer .photo {
    float: middle;
    width: 150px;
    height: 150px;
    border-radius: 5%; }

.icon {
  width: 65px;
  margin: 50px;
  border-radius: 15%; }
  .icon:hover {
    transform: scale(1.2); }
  @media screen and (max-width: 540px) {
    .icon {
      width: 50px;
      margin: 10px; } }

@media screen and (max-width: 800px) {
  #hiddenMobile {
    display: none; } }

.sliphover-container {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #E2DA49; }
  @media screen and (max-width: 980px) {
    .sliphover-container {
      display: none; } }
