 // Bourbon & Neat
@import '../bower_components/bourbon/dist/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';
@import url(http://fonts.googleapis.com/css?family=Megrim|Roboto:400,100);
// Custom Styles

body{
  margin: 0;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #686868;
}

header {
  height: 100vh;
  background-image: url(http://i.imgur.com/YpuR4YV.jpg);
  background-position: 50% 40%;
  // opacity: .65;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  @media screen and (max-width: 540px) {
      background-image: url(http://i.imgur.com/49zZzgv.jpg?2);
      height: 450px;
    }
}

.socialLinks {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  a {
    margin-left: 10px;
    transition: all 0.5s ease;
    text-decoration: none;
    &:hover {
      border-bottom: 2px solid #F5D76E;
      padding-bottom: 8px;
    }
  }
  img {
    width: 30px;
  }
}

.logo {
  width: 250px;
  z-index: 10;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;

  @media screen and (max-width: 540px) {
      display: none;
    }  
}

.headerText {
  position: relative;
  bottom: 615px;
  visibility: hidden;

  @media screen and (max-width: 540px) {
      bottom: 400px;
    }
}

h1 {
    font-family: 'Megrim', cursive;
    margin: 0;
    text-align: center;
    font-size: 5.4em;
    color: #FF6B6B;
    padding-top: 35px;

    @media screen and (max-width: 540px) {
      font-size: 3em;
    }
  }
  h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #4ECDC4;
    margin: 8px;
    @media screen and (max-width: 540px) {
      font-size: 1em;
    }
  }

nav {
  height: 200px;
  text-align: center;
  position: relative;
  bottom: 185px;
  background-color: #546576;

  @media screen and (max-width: 540px) {
      height: 150px;
    }

  .navIconContainer {
    display: inline-block;
    p {
      font-family: 'Roboto', sans-serif;
      font-size: 1.5em;
      font-weight: lighter;
      margin: 0;
      color: #bdc3c7;
      @media screen and (max-width: 980px) {
      font-size: 1em;
    }
    }
  }
  
  .imgContainer {
    border: solid black 4px;
    border-radius: 50%;
    padding: 20px;
    display: inline-block;
    margin: 25px 100px 0 100px;
    
    @media screen and (max-width: 980px) {
      margin: 25px 30px 0 30px;
      // width: 35px;
    }

    @media screen and (max-width: 540px) {
      border: none;
      padding: none;
      margin: 0;
    }


    img {
      width: 100%;
      height: 100%;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

#lineBreak {
  width: 500px;
  height: 4px;
  background-color: #bdc3c7;
  margin: 0 auto;
  opacity: .5;
  @media screen and (max-width: 540px) {
      width: 200px;
    } 
}


h3 {
  font-size: 3em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #252525;
}

// #wrapper {
//   padding: 50px;
//   float: left;
//   width: 33%;
// }

#wrapper {
  padding: 20px;
  float: left;
  width: 33%;

  @media screen and (max-width: 980px) {
      width: 100%;
      padding: 125px;
    }
  @media screen and (max-width: 540px) {
      width: 100%;
      padding: 50px;
    }  

  img {
    width: 100%;
    opacity: .85;
    border-radius: 3px;

  //   &:hover {
  //   opacity: 1;
  // }
  }
  
}

#row {
  width: 100%;
  height: 500px;
  overflow: visible;
  @media screen and (min-width: 981px) {
      overflow: hidden;
    }
  @media screen and (min-width: 1500px) {
      height: 700px;
    }
}

// #row {
//   width: 100%;
//   height: 500px;
//   overflow: hidden;
//   @media screen and (min-width: 1500px) {
//       height: 700px;
//     }
// }

.portfolioPiece {
  p {
    // font-weight: lighter;
  }
  a {
    text-decoration: none;
    color: #4B79BC;
    &:hover {
      text-decoration: underline;
    }
  img {
    border: solid grey 1px;
    // -webkit-filter: grayscale(50%);
    // -moz-filter: grayscale(50%);
    // filter: grayscale(50%);
    }  
  }
}

#lineBreak2 {
  width: 500px;
  height: 4px;
  background-color: #bdc3c7;
  opacity: .5;
  clear: both;
  margin: 0 auto;

  @media screen and (max-width: 540px) {
      width: 200px;
    } 
}

.aboutContainer {
  text-align: center;
  
  p {
    margin: 50px auto;
    width: 60%;
    font-size: 1.5em;
    color: #383838;
    // font-weight: lighter;
    a {
      text-decoration: none;
      color: #4B79BC;
      &:hover {
      text-decoration: underline;
    }
    }
    @media screen and (max-width: 540px) {
      font-size: 1em;
    }  
  } 

  .photo {
    float: middle;
    width: 150px;
    height: 150px;
    border-radius: 5%;
  } 
}

.icon {
  width: 65px;
  margin: 50px;
  border-radius: 15%;
  &:hover {
    transform: scale(1.2);
  }
  @media screen and (max-width: 540px) {
      width: 50px;
      margin: 10px;
    } 
}

#hiddenMobile {
  @media screen and (max-width: 800px) {
      display: none;
    }
}

.sliphover-container {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #E2DA49;
  @media screen and (max-width: 980px) {
      display: none;
    }
}












